*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Urbanist";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #555671;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin-top: 120px;
}

main {
  flex-grow: 1;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
