.header-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 244px 0px 82px;
}

.header-header__name {
  margin: 0px;
  font-size: 40px;
  line-height: 58px;
  width: 548px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #181a3f;
}
