.main-link {
  font-size: 20px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  padding: 17px 56px;
}

.main-link--orange {
  background-color: $accent;
  border: 1px solid $accent;

  &:hover {
    opacity: 0.7;
    transition: 1s ease background-color;
  }
}
