.wrap__container {
  padding-bottom: 239px;
}

.wrap__table {
  width: 100%;
  border-collapse: collapse;
}

.wrap__td {
  width: 317px;
  text-align: left;
  vertical-align: top;
  padding-top: 60px;
}

.wrap__text {
  width: 618px;
  margin-bottom: 60px;
}

.wrap__title {
  margin-top: 0px;
  font-size: 38px;
  line-height: 50px;
  color: #181a3f;
}

.wrap__td {
  line-height: 20px;
  letter-spacing: 0.72px;
  text-transform: uppercase;
}

.wrap__tr {
  border-bottom: 1px solid #dad9d6;
}
