.wrapper {
  background-color: #f0efec;
}
.wrapper__container {
  padding: 213px 0px 233px;
  background: url(../img/wrapper.png) no-repeat right;
}
.wrapper__name {
  font-size: 40px;
  line-height: 58px;
  width: 452px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 55px;

  color: #181a3f;
}
